# Azure Storage
ADLS_STORAGE_ACCOUNT=uktrafficdldev

# Azure Service Principal (for local development)
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TENANT_ID=

# Synapse
SYNAPSE_WORKSPACE=syn-uk-traffic-dev
SYNAPSE_SQL_POOL=traffic_dwh
SYNAPSE_SQL_USER=sqladminuser
SYNAPSE_SQL_PASSWORD=

# Databricks
DATABRICKS_HOST=
DATABRICKS_TOKEN=
